@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 20px;
}

header>h1 {
    text-align: center;
    color: #24272e;
    font-family: Asap, sans-serif;
}

body {
    background-color: #24272e;
    color: white;
    text-align: center;
}

.score-board {
    border: 3px solid white;
    border-radius: 4px;
    color: white;
    margin: 20px auto;
    text-align: center;
    width: 200px;
    padding: 15px 20px;
    font-size: 46px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background-color: #e2584d;
    color: white;
    padding: 2px, 10px;
    font-size: 15px;
    font-family: sans-serif, Asap;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -20px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -20px;
}

.result {
    font-size: 30px;
    padding: 10px 0;
}

.result>p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    text-align: center;
    margin: 30px 0;
}

.choice {
    border: 5px solid white;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    background-color: #F7F7F7;
    cursor: pointer;
}

.action-message {
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}